<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
  <title>SpringBoot Security</title>
</head>
<body>
<h1>관리자 페이지</h1>

<p>Welcome Administrator(<span sec:authentication="principal.username">User</span>)</p>

<h3>관리 메뉴</h3>
<ul>
  <li><a th:href="@{/products}">상품 관리</a> - 상품을 등록, 수정, 삭제할 수 있습니다.</li>
  <li><a th:href="@{/admin/users}">사용자 관리</a> - 등록된 모든 사용자를 확인할 수 있습니다.</li>
</ul>

<p>
  <a th:href="@{/home}">홈으로</a> |
<form th:action="@{/logout}" method="post" style="display: inline;">
  <input type="submit" value="LogOut"/>
</form>
</p>

</body>

</html>